body {
	padding: 10px;
}

a:link {
	color: orange;

}


a:hover {
	color: red;
}


a:visited {
	color: darkred;
}

.special {           /*  class attribute override */
	color: red;

}

.second {
	border: solid 5px black;
	padding: 10px;
	margin: 25px;
}

.third {
	border: solid 5px green;
	padding: 10px;
}

.leadmessage p {
	fontfamily: sans-serif;
}

p:nth-child(odd) {
	font-weight: bold;
}